body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.images {
    background: yellow;
    flex: 0 0 80%;
    min-height: 70vh;
    background: url('img/pexels-1.jpg')center/cover no-repeat;
    border-radius: 15px;
    box-shadow: 0 0 10px #88d5e9;
    position: relative;
}

.btn {
    display: inline-block;
    background: white;
    color: black;
    border: 3px solid green;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 20%;
    box-shadow: 2px 5px black;
    outline: none;
}

.prevBtn {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}

.nextBtn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.btn:active {
    background: grey;
    box-shadow: 1px 1px grey;
}

.btn:hover {
    background: green;
    color: white;
}